<!doctype html>
<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

<meta charset="utf-8" http-equiv="refresh" content="5">
<!-- <meta http-equiv="refresh" content="5" > -->
<title>Dashboard</title>

    	 <h1  style="text-align:center">Business Sentiment Analyzer</h1>




<!-- <style>
      table,
      th,
      td {
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style> -->
</head>
<body>
<!-- <table >
{% for row in data %}
<td>{{row.Last}}</td>
<td>{{row.First}}</td>
{% endfor %}
</table>
 -->
<!-- <table>
    <tbody>
    {% for row in rows %}
    <tr>
        <td>{row.id}</td>
        <td>{row.text}</td>
        <td>{row.polarity}</td>
        <td>{row.subjectivity}</td>
    </tr>
    {% endfor %}
    </tbody>
</table> -->

<!--     <table  border="3" text-align:center cellpadding="5" cellspacing="5">  -->
<div class="container mt-5" >
<table class="table table-dark table-striped table-hover">
        <thead> 
        <tr> 
            <th>ID</th> 
            <th>Text</th>
            <th>Polarity</th>
            <th>Subjectivity</th> 
        </tr> 
        </thead> 
        <tbody> 
            {% for row in value %}  
                <tr> 
                    <td>{{row[0]}}</td> 
                    <td>{{row[1]}}</td> 
                    <td>{{row[2]}}</td> 
                    <td>{{row[3]}}</td> 
                </tr> 
            {% endfor %} 
        </tbody> 
    </table> 
</div>
</body>
</html>



